.DS_Store
EHC/build
EHC/install*
EHC/bin
EHC/doc
EHC/autom4te.cache
EHC/Bool
EHC/EHCOpts
EHC/GITHASH
EHC/Nothing
EHC/config.log
EHC/config.status
EHC/ehclib/directory/include/HsDirectoryConfig.h
EHC/ehclib/old-time/include/HsTimeConfig.h
EHC/ehclib/uhcbase/include/HsBaseConfig.h
EHC/ehclib/uhcbase/include/MachDeps.h
EHC/ehclib/unix/include/HsUnixConfig.h
EHC/mk/config.mk
EHC/mk/shared.mk
EHC/src/ehc/Config.chs
EHC/src/ehc/ConfigDefines.chs
EHC/src/helium/Utils/OSSpecific.hs
EHC/src/rts/config.ch
EHC/src/rts/mm/config.ch
EHC/src/ruler2/demo/RulerDemoMain.ag
EHC/src/ruler2/demo/RulerDemoMain.tex
EHC/src/ruler2/demo/RulerDemoUtils.hs
EHC/src/ruler2/demo/RulerDemoUtils.tex
EHC/src/ruler2/demo/demo.ag
EHC/src/ruler2/demo/demo.rl2
EHC/src/ruler2/demo/rulerDemoAG.cag
EHC/src/ruler2/demo/rulerDemoAGWithCopy.cag
EHC/src/text2text/text2text.cabal
EHC/test/benchmark/runbenchmark.pl
