.DS_Store
EHC/SVNREVISION
EHC/config*
EHC/.gitignore
EHC/build/
EHC/bin/
EHC/mk/
EHC/install*
EHC/autom4te.cache
EHC/test/regress/99*
EHC/SVNREVISION
EHC/configure
EHC/ag/
EHC/ehclib/directory/include/HsDirectoryConfig.h
EHC/ehclib/old-time/include/HsTimeConfig.h
EHC/ehclib/uhcbase/include/HsBaseConfig.h
EHC/ehclib/uhcbase/include/MachDeps.h
EHC/ehclib/unix/include/HsUnixConfig.h
EHC/src/ehc/Config.chs
EHC/src/ehc/ConfigDefines.chs
EHC/src/helium/Utils/OSSpecific.hs
EHC/src/rts/config.ch
EHC/src/rts/mm/config.ch
EHC/src/text2text/text2text.cabal
EHC/test/benchmark/runbenchmark.pl
EHC/test/regress/filesForIOTesting/file1-writtencopy
