autom4te.cache

*.hi
*.core
*.grin

*.exp*
*.reg*

www/

.DS_Store

config.*

install*/
build*/
t/
doc/
klad*
runbenchmark.pl
Config.chs
ConfigDefines.chs
GITHASH
HsBaseConfig.h
HsDirectoryConfig.h
HsTimeConfig.h
HsUnixConfig.h
MachDeps.h
OSSpecific.hs
shared.mk
text2text.cabal
.gitignore~
