.DS_Store
SVNREVISION
config*
.gitignore
build/
bin/
mk/
install*
autom4te.cache
test/regress/99*
SVNREVISION
configure
ag/
ehclib/directory/include/HsDirectoryConfig.h
ehclib/old-time/include/HsTimeConfig.h
ehclib/uhcbase/include/HsBaseConfig.h
ehclib/uhcbase/include/MachDeps.h
ehclib/unix/include/HsUnixConfig.h
src/ehc/Config.chs
src/ehc/ConfigDefines.chs
src/helium/Utils/OSSpecific.hs
src/text2text/text2text.cabal
test/benchmark/runbenchmark.pl
test/regress/filesForIOTesting/file1-writtencopy
