<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN""http://www.w3.org/TR/html4/loose.dtd"><html><head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"><title>EHC examples</title></head><body><h1>EH examples</h1><p>This page is intended to give an impression of the problems tackled in the  series of compilers described in the context of EHC. A more elaborate description  can be found in the accompanying documentation.</p><h2>EH 1: lambda calculus</h2><p>The first version implements typed lambda calculus. For example, the following  EH program is accepted:</p><pre>%%1srcfile<test/1-all-ok2.eh%%></pre><p>The compiler will, when invoked with the above source code give the followingannotated pretty printed output: </p><pre>%%1ppfile<test/1-all-ok2.eh%%></pre></body></html>